<div class="preview" *ngFor="let video of videos"
    [class.selected]="video.id === (selectedVideoId | async)">
  <a
      [routerLink]="['']"
      [queryParams]="{selectedVideoId: video.id}">
    <app-video-item [video]="video"></app-video-item>
  </a>
</div>
