<!-- ng-container provides a place for using *ngIf w/o adding to the DOM -->
<!-- 'ngIf as' is a way to create a local variable that is definitely defined -->
<ng-container *ngIf="(video | async) as v">
  <h1>{{v.title}}</h1>
  <h2>{{v.author}}</h2>
  <img [src]="'http://img.youtube.com/vi/' + v.id + '/0.jpg'" [alt]="v.title">
</ng-container>